alembic==1.18.4
click==8.3.1
Flask==3.1.2
Flask-Redis==0.4.0
Flask-SQLAlchemy==3.1.1
gunicorn==25.1.0
Jinja2==3.1.6
psycopg2-binary==2.9.11
python-dateutil==2.9.0.post0
pytz==2025.2
redis==7.1.1
requests==2.32.5
Shapely==2.1.2
SQLAlchemy==2.0.46
