alembic==1.15.2
click==8.2.0
elasticsearch==9.0.1
Flask==3.1.1
Flask-Elasticsearch==0.2.5
Flask-Redis==0.4.0
Flask-SQLAlchemy==3.1.1
gunicorn==23.0.0
Jinja2==3.1.6
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
pytz==2025.2
redis==6.1.0
requests==2.32.3
Shapely==2.1.0
SQLAlchemy==2.0.41
