alembic==1.15.1
click==8.1.8
elasticsearch==8.17.2
Flask==3.1.0
Flask-Elasticsearch==0.2.5
Flask-Redis==0.4.0
Flask-SQLAlchemy==3.1.1
gunicorn==23.0.0
Jinja2==3.1.6
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
pytz==2025.1
redis==5.2.1
requests==2.32.3
Shapely==2.0.7
SQLAlchemy==2.0.39
