/* CSS declarations go here */
body {
    padding-top: 60px;

    @media (max-width: 768px) {
        padding-top: 150px;
    }
}

#content {
    min-height: 600px;
}

h1.navbar-brand {
    margin: 0;
}

#map {
    height: 600px;
}

#technologies {
    .thumbnail {
        &:hover {
            transform: scale(1.05);
            transition: .2s;
        }

        a {
            align-items: center;
            display: flex;
            justify-content: center;
            height: 200px;

            img {
                max-height: 100%;
            }

            svg {
                width: 100%;
            }
        }
    }

    .caption {
        p {
            min-height: 3em;
        }
    }
}

#find-tickets {
    padding-top: 20px;
}

.has-feedback.has-clear {
    &.has-empty-value {
        /* Do not display clear button if field has empty value */
        .form-control-clear {
            display: none;
        }
    }

    /* Remove Internet Explorer native clear button */
    input::-ms-clear {
        display: none;
    }

    .form-control-clear {
        color: #bbb;
        color: rgba(0, 0, 0, 0.4);

        /*
         * Enable pointer events as they have been disabled since Bootstrap 3.3
         * See https://github.com/twbs/bootstrap/pull/14104
         */
        pointer-events: auto;

        &:hover {
            color: #777;
            color: rgba(0, 0, 0, 0.7);
            cursor: pointer;
        }
    }

    .glyphicon-refresh {
        opacity: 0.4;
        position: absolute;
        right: 25px;
        top: 10px;
    }
}

.autocomplete-suggestions {
    background-color: white;
    border: 1px solid #ccc;
    padding: 0;
    overflow: auto;

    .autocomplete-suggestion {
        cursor: pointer;
        padding: 10px 30px;
    }

    & + .autocomplete-suggestion {
        border-top: 1px solid #ccc;
    }
}

select.form-control {
    margin-top: 15px;

    & + .tooltip.left {
        margin-left: -20px;
    }
}

.has-feedback .form-control {
    padding-right: 30px;
}

#js-routes {
    position: relative;

    .close {
        position: absolute;
        right: 0;
        top: -5px;
    }

    li {
        cursor: pointer;
    }
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.footer {
    margin-top: 20px;
    padding: 10px;

    p {
        margin: 0;
    }
}

#map-wraper {
    right: 0;
    position: fixed;
}
